.navbar{
  background:#2e1065;
  color:white;
  position:sticky;
  top:0;
  z-index:1000;
}

.nav-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
}

.logo{
  font-size:28px;
  font-weight:bold;
}

.nav-links{
  display:flex;
  gap:20px;
}

.nav-links a{
  color:white;
  transition:.3s;
}

.nav-links a:hover{
  color:#c084fc;
}